<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <a href="/" style="position: fixed; right: 50px; top: 20px">Registration</a>

    <h2 style="text-align: center; margin-top: 30px">Log in</h2>

    <form action="/login" method="post" style="text-align: center">
        <label>Enter your email: <input type="email" name="email"></label><br><br>
        <label>Enter your password: <input type="password" name="password"></label><br><br>
        <input type="submit" name="submit">
    </form>
    
</body>
</html>